certifi
charset-normalizer
click
colorama
decorator
Flask
greenlet
idna
itsdangerous
Jinja2
MarkupSafe
numpy
pandas
praw
prawcore
PyMySQL
python-dateutil
pytz
requests
six
SQLAlchemy
typing_extensions
tzdata
update-checker
url_cleaner
urllib3
validators
websocket-client
Werkzeug
fsspec
gunicorn
